{{include file="common/header.html"}}
<style>
    html, body { font-family:"微软雅黑";
        margin: 0;
        padding: 0;
    }
    @media (min-width:1440px) {
        .footer{ position:fixed; bottom:0; width:100%;}  }
</style>
<!-- 页面主体 -->
<div class="main">
    <a class="con5 block">
        <div class="tb"><img src="/public/images/tb_5.png" width="165" height="145"></div>
        <div class="title">
            <h4>{{$data.f_title}}</h4>
            <p>{{$data.f_desc}}</p>
        </div>
    </a>
    <a class="con6 block">
        <div class="tb"><img src="/public/images/tb_6.png" width="165" height="145"></div>
        <div class="title">
            <h4>微信公众号</h4>
            <p>PUBLIC NUMBER</p>
        </div>
    </a>
    <a href="/download" class="con7 block">
        <div class="tb"><img src="/public/images/tb_7.png" width="165" height="145"></div>
        <div class="title">
            <h4>软件下载</h4>
            <p>SW DOWNLOAD</p>
        </div>
    </a>
</div>
<!-- 六大优势 -->
<div class="frame2">
    <a class="close">关闭</a>
    <h4>汇&nbsp;宝&nbsp;特&nbsp;色</h4>

    <div class="ts one">
        <img src="/public/images/ts_1.png" width="128" height="191">
    </div>

    <div class="ts two">
        <img src="/public/images/ts_2.png" width="128" height="191">
    </div>

    <div class="ts three">
        <img src="/public/images/ts_3.png" width="128" height="191">
    </div>

    <div class="ts four">
        <img src="/public/images/ts_4.png" width="128" height="191">
    </div>

</div>
<!-- 六大优势 end -->
{{include file="common/footer.html"}}
<script type="text/javascript" src="/public/js/activity.js"></script>