{{include file="common/header.html"}}

<div class="main">
    {{include file="common/menu.html"}}

    <div id="right">
        <!--面包屑导航-->
        <ol class="breadcrumb">
            <li><a href="/">管理首页 </a></li>
            <li class="active">商家概况</li>
        </ol>

        <!--<div class="right_con">-->
            <!--<div class="row">-->
                <!--<div class="col-md-4">-->
                    <!--<table class="table table-bordered">-->
                        <!--<tr> <th colspan="2">订单统计信息</th></tr>-->
                        <!--<tr>-->
                            <!--<td>已支付订单</td>-->
                            <!--<td><a href="/order/index?tid=3">0</a></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>交易成功订单</td>-->
                            <!--<td><a href="/order/index?tid=5">0</a></td>-->
                        <!--</tr>-->
                    <!--</table>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<table class="table table-bordered">-->
                        <!--<tr><th colspan="2">商品统计信息</th></tr>-->
                        <!--<tr>-->
                            <!--<td>商品总数</td>-->
                            <!--<td><a href="product/index/">0</a></td>-->
                        <!--</tr>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--弹窗区域-->
        {{include file="index/modal.html"}}
    </div>
    <div class="clear"></div>
</div>

{{include file="common/footer.html"}}