<!-- 底部 -->
<div class="clear"></div>
<div class="frame-bj"></div>
<div class="frame"><a class="close">关闭</a><img src="/public/images/ewm.jpg" width="430" height="430"><div class="text">
    全新升级
    给你不一样的金融领域</div>
</div></div>

<div class="robot"></div>
<!-- 底部 -->
<div class="sidebar-menu block">
    <a href="/" title="首页"><img src="/public/images/bottom_menu_1.png" width="50" height="50"></a>
    <a class="weixin" title="微信"><img src="/public/images/bottom_menu_2.png" width="50" height="50"></a>
    <a class="return fb7-home" title="返回上级" href="javascript:history.go(-1)"><img src="/public/images/bottom_menu_3.png" width="50" height="50"></a>
</div>

<!-- 底部 -->
<div class="footer block" style="line-height: 30px;">
    版权所有© 2016-2017 汇宝网(建议您使用IE9+、FireFox、Google Chrome，分辨率1280*800及以上浏览本网站，获得更好用户体验。)
</div>

<!--<div class="footer">-->
    <!--<div class="footer-news">-->
        <!--<div class="list">-->
            <!--<strong>{{$categoryOne.nc_name}}：</strong>-->
            <!--<ul>-->
                <!--{{if $dataOne}}-->
                <!--{{foreach from=$dataOne item=v1}}-->
                <!--<li><a href="/news/details?id={{$v1.n_id}}">{{$v1.n_title}}</a></li>-->
                <!--{{/foreach}}-->
                <!--{{/if}}-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="list">-->
            <!--<strong>{{$categoryTwo.nc_name}}：</strong>-->
            <!--<ul>-->
                <!--{{if $dataTwo}}-->
                <!--{{foreach from=$dataTwo item=v2}}-->
                <!--<li>  <a href="/news/details?id={{$v2.n_id}}">{{$v2.n_title}}</a></li>-->
                <!--{{/foreach}}-->
                <!--{{/if}}-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="switch"><strong>语音开关：</strong><label><input class="mui-switch mui-switch-animbg" type="checkbox" checked></label></div>-->
    <!--</div>-->
<!--</div>-->
</body>
</html>