<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{{$pageTitle}}</title>
    <!-- add css -->
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="stylesheet" type="text/css" href="/public/css/googleapis_Play.css">
    <link rel="stylesheet" type="text/css" href="/public/css/googleapis_Nunito.css">
    <script type="text/javascript" src="/public/js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/public/js/lp.js"></script>
    <style>
        html, body { font-family:"微软雅黑";
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
<div class="bj-vb"></div>
<div class="logo"><a href="/"><img src="/public/images/logo.png" width="128" height="67"></a></div>

<!-- 登录条 -->
<div class="loginbar block">
    <img src="/public/images/loginbar.png">
    <a class="regsiter1_btn" target="_blank" href="http://153.0.136.209:8280/reg.do?ACCOUNT_ID=611">实盘开户</a>
    <a class="regsiter2_btn" target="_blank" href="http://www.hainancec.com:9085/fkhp/regFast.do?BROKER_ID=101611">模拟开户</a>
    <a class="login_btn" href="{{if $smarty.const.A_REALNAME}}/index{{else}}/login{{/if}}">{{if $smarty.const.A_REALNAME}}{{$smarty.const.A_REALNAME}}{{else}}会员登录{{/if}}</a>
</div>

<!-- 标语 -->
<div class="slogans">
    <h2>权威金融  &nbsp;&nbsp;&nbsp;&nbsp;炙手可得</h2>
<!--     <h4>一切从这里开始</h4> -->
</div>