<div class="sidebar" id="fixedMenu">
    <div class="box data1">
        <div class="title">国际市场数据</div>

        <div class="con"><iframe id="bottomprice" name="bottomprice" src="http://www.jin10.com/bottomprice/indexp.html" scrolling="no" width="342" frameborder="0" height="253"></iframe></div>
    </div>
    <div class="box data2">
        <div class="title">海南大宗市场数据</div>
        <div class="con"><iframe width="372px" height="180px" frameborder="0" src="http://www.hainancec.com/otc/otc/index/list.jsp" scrolling="no"></iframe> </div>
    </div>
    <div class="box" style="height:250px;">
        <div class="title">全球指数</div>
        <div class="con" style="padding-left: 50px;"><iframe width="372px" height="430px" frameborder="0" src="http://stock.10jqka.com.cn/api/stock_10.html" scrolling="no"></iframe> </div>
    </div>
</div>