/*-------------------------------------------------------------财经日历-------------------------------------------------------------*/
.header_2 {width:100%;	height:40px;z-index:1100;	background:#1f2e5b; -webkit-transition:0.3s; top:0;		-moz-transition:0.3s;	-ms-transition:0.3s; -o-transition:0.3s;	transition:0.3s; +left:0;}
:root .header_2 {	background:#1f2e5b;}
.hd_top_2 {width:1000px; margin:0 auto; background:none; +background:none; height:48px;}
.header_2 .tele_2 a{ display:block;	background:url(http://rl.fx678.com/Public/images/tele.png) no-repeat;width:283px;height:28px;text-indent:-999em;overflow:hidden;float:right;-webkit-transition:0.3s;-moz-transition:0.3s;-ms-transition:0.3s;-o-transition:0.3s;transition:0.3s; margin:20px 30px 0 15px;}
.g_nav_2 { height:48px; line-height:48px; vertical-align:middle; float:right; margin-right:30px;}
.hd_top_2 .logo_s_hjw{background:url(http://rl.fx678.com/Public/images/cjrl.png) no-repeat; width:114px; height:27px; float:left; margin:5px 15px 0 0;}
.hd_top_2 .logo_s_week{background:url(http://rl.fx678.com/Public/images/cjzl_logo.png) no-repeat; width:114px; height:27px; float:left; margin:5px 15px 0 0;}
.hd_top_2 .logo_s_usa{background:url(http://rl.fx678.com/Public/images/usa_logo.png) no-repeat; width:114px; height:27px; float:left; margin:5px 15px 0 0;}
.hd_top_2 .logo_s_yh{background:url(http://rl.fx678.com/Public/images/yhdt_logo.png) no-repeat; width:114px; height:27px; float:left; margin:5px 15px 0 0;}
.hd_top_2 .logo_s_zbzs{background:url(http://rl.fx678.com/Public/images/zbzs_logo.png) no-repeat; width:114px; height:27px; float:left; margin:5px 15px 0 0;}
.g_nav_2 ul { width:670px; height:37px; float:left; margin-top:3px;}
.g_nav_2 ul li {float:left; text-align:center; list-style: none;  width:110px;height:37px; line-height:37px; vertical-align:middle; color:#fff; font-family:"Microsoft YaHei",sans-serif; font-size:16px; }
.g_nav_2 ul li a { text-decoration: none;outline:none;text-align:center; width:110px;text-transform: uppercase;color:#fff;font-size:16px;letter-spacing:0;z-index:10;display: block;float:left; vertical-align:middle; position: relative;z-index:99999; display:block;  height:37px; line-height:37px; vertical-align:middle; margin-left:10px;}   
.g_nav_2 ul li a:hover{background:#f1f0f5; color:#1f2e5b; font-weight:bold;	-webkit-transition:1.3s;	-moz-transition:1.3s;	-ms-transition:1.3s;	-o-transition:1.3s;	transition:1.3s;border-radius:5px 5px 0 0 ; -moz-border-radius:5px 5px 0 0 ;-webkit-border-radius:5px 5px 0 0;}
.g_nav_2 ul li.current a{float:left; font-weight:bold;  background:#f1f0f5; height:37px; line-height:37px; display:inline-block; color:#1f2e5b;border-radius:5px 5px 0 0 ; -moz-border-radius:5px 5px 0 0 ;-webkit-border-radius:5px 5px 0 0;}

.fixed_2 {position:fixed;	left:0;	top:0;	height:40px ;width:100%; z-index:9999;-moz-box-shadow :0px 0px 15px #888888;   *filter : progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color="#888888");
 -webkit-box-shadow :0px 0px 15px #888888;  box-shadow :0px 0px 15px #888888; }
.fixed_2 .g_nav_2 {	 height:40px; line-height:40px; vertical-align:middle;}
.fixed_2 .g_nav_2 ul { width:670px; height:37px;float:right; margin-right:0px; }
.fixed_2 .g_nav_2 ul li {float:left; width:110px; text-align:center; list-style: none; height:37px; line-height:37px; vertical-align:middle; color:#fff; font-family:"Microsoft YaHei",sans-serif; font-size:16px;}
.fixed_2 .g_nav_2 ul li a { font-weight:400; text-decoration: none;outline:none;text-align:center; width:110px;text-transform: uppercase;color:#fff;font-size:16px;letter-spacing:0;z-index:10;display: block;float:left; vertical-align:middle; position: relative;z-index:99999;  }   
.fixed_2 .g_nav_2 ul li a:hover{  background:#f1f0f5; height:37px; color:#1f2e5b; font-weight:bold;	-webkit-transition:0.3s;	-moz-transition:0.3s;	-ms-transition:0.3s;	-o-transition:0.3s;	transition:0.3s;}
.fixed_2 .g_nav_2 ul li.current a{float:left;  background:#f1f0f5; height:37px;color:#1f2e5b; font-weight:bold;}

#menu3_2 {padding: 0px;margin-top: 0px;margin-right: auto;margin-bottom: 0px;	margin-left: auto;}
.topmenu3_2 {	height: 37px;padding: 0px;list-style-image: none;list-style-type: none;margin: 0px;position: relative;}
.topmenu3_2 li {	float: left;list-style: none;padding: 0px;margin-top: 0px;margin-bottom: 0px;margin-left: 0px; width:76px;height:37px; line-height:37px; vertical-align:middle; color:#fff;font-size:16px;}
.topmenu3_2 li.back {height: 37px;z-index:228;position: absolute;color: #f1f0f5;background:#f1f0f5;border-radius:5px 5px 0 0 ; -moz-border-radius:5px 5px 0 0 ;-webkit-border-radius:5px 5px 0 0 }
.topmenu3_2 li a {text-decoration: none;color: #999999;	outline: none;text-align: center;top: 0;z-index:999;display: block;	float: left; width:76px;height:37px; line-height:37px; vertical-align:middle; color:#fff;position: relative;overflow: hidden;font-size:16px;}
.topmenu3_2 li a:hover, .menu3_2 li a:active, .menu3_2 li a:visited {border: none;color: #f0f0f0;} 

.calendar_content{ width:1000px; height:auto; margin:0px auto;  position:relative; background:#fff; padding-bottom:80px;border-bottom:3px solid  #c91f05;border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;min-height:600px;*+height:100%;_height:600px;} 
.cl_top{ height:auto; width:680px; margin:20px 0 0 20px; float:left;}
.cl_top .cl_logo{ background:url(http://rl.fx678.com/Public/images/hjcl_logo.png) no-repeat; width:168px; height:61px; float:left; margin-top:4px;}

.rl_week{ width:740px; height:65px;float:left; margin-left:10px; }
.per_week{ background:url(http://rl.fx678.com/Public/images/left_s.png) no-repeat center #edf2ff; border:1px solid #d2e3ff;border-radius:5px 0px 0px 5px;-moz-border-radius: 5px 0px 0px 5px;-webkit-border-radius: 5px 0px 0px 5px; width:16px; height:63px; float:left; margin-right:3px;
cursor:pointer;}
.next_week{ background:url(http://rl.fx678.com/Public/images/right_s.png) no-repeat center #edf2ff; border:1px solid #d2e3ff;border-radius:0px 5px  5px 0px;-moz-border-radius:0px 5px  5px 0px;-webkit-border-radius:0px 5px  5px 0px; width:16px; height:63px; float:left; margin-left:3px;cursor:pointer; }
.per_week:hover{border:1px solid #334c98; background:url(http://rl.fx678.com/Public/images/left_s.png) no-repeat center #fff;}
.next_week:hover{border:1px solid #334c98; background:url(http://rl.fx678.com/Public/images/right_s.png) no-repeat center #fff;}
.rl_week ul{ width:616px; height:65px;  margin:0px auto; float:left;}
.rl_week ul li{ width:82px; height:63px; margin:0 2px; float:left; cursor:pointer; background:#edf2ff; border:1px solid #d2e3ff; color:#444444; }
.rl_week ul li:hover{ width:82px; height:63px; float:left; cursor:pointer; color:#334c98;border:1px solid #334c98;background:url(http://rl.fx678.com/Public/images/right_i.png) no-repeat bottom right #fff;}
.rl_week ul li p{ font-size:14px;  font-family:"Microsoft YaHei",sans-serif; text-align:center; height:20px; line-height:20px; vertical-align:middle; display:block; color:#8690ae;}
.rl_week ul li b{ display:block; background:none; font-size:16px;font-family:"Microsoft YaHei",sans-serif; text-align:center; height:26px; line-height:26px; vertical-align:middle; margin-top:10px;  }
.rl_week ul li.hover{ width:82px; height:63px; float:left; cursor:pointer; color:#334c98;border:1px solid #334c98;background:url(http://rl.fx678.com/Public/images/right_i.png) no-repeat bottom right #fff;}
.rl_week ul li.hover p{font-size:14px;  font-familygbgbgb:"Microsoft YaHei",sans-serif; text-align:center; height:20px; line-height:20px; vertical-align:middle; display:block; font-weight:bold; color:#334c98;}
.rl_week ul li.hover b{ display:block; background:none; font-size:16px;font-family:"Microsoft YaHei",sans-serif; text-align:center; height:26px; line-height:26px; vertical-align:middle; margin-top:10px;  }

.rl_week_left a{ background:url(http://rl.fx678.com/Public/images/left_cl.png) no-repeat center 10px; width:55px; height:32px; float:left; display:block; text-align:center; padding-top:40px; color:#d2e3ff; margin-right:10px;}
.rl_week_left a:hover{ background:url(http://rl.fx678.com/Public/images/left_cl2.png) no-repeat center 10px; color:#949da5; }
.rl_week_right a{ background:url(http://rl.fx678.com/Public/images/right_cl.png) no-repeat center 10px; width:55px; height:32px; float:right; display:block; text-align:center; padding-top:40px; color:#d2e3ff;margin-left:0;}
.rl_week_right a:hover{ background:url(http://rl.fx678.com/Public/images/right_cl2.png) no-repeat center 10px; color:#949da5; }

.bg_flag_title{ float:left; width:110px; text-align:center; margin-top:42px; color:#c90e0f; font-size:14px; font-weight:bold;height:30px; line-height:30px; vertical-align:middle;}
.bg_flag{ background:url(http://rl.fx678.com/Public/images/cl_flag.png) no-repeat center; height:80px; width:678px; margin:0 auto; padding-top:5px; border:1px solid #dddddd;}
.bg_flag_ul ul{height:30px; width:818; margin:42px 0 0 15px; float:left}
.bg_flag_ul ul li{ float:left; width:60px; margin-left:2px; padding-right:5px; text-align:center; height:30px; line-height:30px; vertical-align:middle;color:#000000; font-size:12px;}
.bg_flag_ul ul li input{height:13px; width:13px; margin:-2px 3px 0 3px; height:30px; line-height:30px; vertical-align:middle;}

.sq_logo{  font-size:16px; color:#222222; height:30px; line-height:30px; vertical-align:middle; font-weight:bolder; width:936px; margin:0 auto 12px;}
.sq_logo img{ float:left; margin:6px 10px 0 5px;}
.sq_logo span a{ background:url(http://rl.fx678.com/Public/images/calendar_res.png) no-repeat 5px; color:#9b9b9b;font-size:12px; padding-left:20px; font-weight:normal; margin-left:10px;}
.rl_icon{ width:135px; height:24px; line-height:24px; vertical-align:middle; float:right; margin-top:4px; position:relative; +margin-top:-26px;margin-right:12px}
.rl_inp{ width:135px; padding:0 5px; height:24px; background:#fff; color:#6a6a6a; border:1px solid #b5b5b5; float:left; display:none;}
.rl_icon a{ background:#627bc7; height:24px; display:block; position:absolute; right:0px; top:0px;width:40px; text-align:center; color:#fff; font-size:14px; font-weight:normal; border:1px solid #516cbc;}
.rl_icon img{ width:19px; float:left; height:19px; margin:2px 10px;}
.rl_show{color:#666;height:24px; line-height:24px; vertical-align:middle;  background:#fff; color:#6a6a6a; border:none; width:82px; margin-left:-0;  padding:0 5px;float:left;border:1px solid #b5b5b5;}

.cjsj_tab{ width:952px; height:auto; border:1px solid #d2e3ff; margin:0 auto; font-size:14px;color:#333333;}
.cjsj_tab tr th{ height:40px; border-right:1px solid #C1D6F7;border-bottom:1px solid #C1D6F7; background:#d2e3ff; color:#333333;}
.cjsj_tab tr.thss{border-radius:5px 5px 0 0 ; -moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;}
.cjsj_tab tr td{ padding:5px 0; border-right:1px solid #C1D6F7;border-bottom:1px solid #C1D6F7;  text-align:center;}
.cjsj_tab tr td.tab_font{ padding:3px 5px 3px 10px; text-align:left;}

.cjsj_tab tr td .flag_bb{ width:100px; line-height:30px; vertical-align:middle; text-align:left; display:inline; +display:block; font-size:14px; font-weight:bold;color:#333333; }
.cjsj_tab tr td .flag_bb .circle_flag{  height:30px; line-height:30px; vertical-align:middle; display:block; margin-right:10px; +float:left;float:left; text-align:center; margin-left:15px; }
.cjsj_tab tr td .flag_bb span{ float:left;}
.cjsj_tab tr td.tab_time{color:#333333;}
/*-------------------------------------------------------------财经日历end-------------------------------------------------------------*/
/*flag*/
.gq_icon{ float:left; width:38px; height:24px; margin:5px 30px}

.national_flag{ float:left; width:54px; margin-top:0px; /*border:1px solid #0F0;*/ margin-right:15px;}
.national_flag img{ margin:2px 6px;}
.gray_data{ background:url(http://rl.fx678.com/Public/images/gray_data.png) no-repeat 0px 0px; width:40px; height:40px; }
.gray_shout{ background:url(http://rl.fx678.com/Public/images/gray_shout.png) no-repeat 0px 0px; width:40px; height:40px; }
.gray_text{ background:url(http://rl.fx678.com/Public/images/gray_text.png) no-repeat 0px 0px; width:40px; height:40px; }
.gray_data_b{ background:url(http://rl.fx678.com/Public/images/red_data.png) no-repeat 0px 0px; width:40px; height:40px; }
.gray_shout_b{ background:url(http://rl.fx678.com/Public/images/red_shout.png) no-repeat 0px 0px; width:40px; height:40px; }
.gray_text_b{ background:url(http://rl.fx678.com/Public/images/red_text.png) no-repeat 0px 0px; width:40px; height:40px; }
.normal_cir{ background:url(http://rl.fx678.com/Public/images/gary_cir.png) no-repeat 0px 0px; width:15px; height:15px;}
.improtant_cir{ background:url(http://rl.fx678.com/Public/images/red_cir.png) no-repeat 0px 0px; width:15px; height:15px;}

.niue_new{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat 0px 0px;width:30px;padding-top:32px;}
.niger{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -30px 0px;width:30px;padding-top:32px;}
.nicaragua{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -60px 0px;width:30px;padding-top:32px;}
.oecd{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -90px 0px;width:30px;padding-top:32px;}
.norwegian{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -120px 0px;width:30px;padding-top:32px;}
.north_korea{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -150px 0px;width:30px;padding-top:32px;}
.nepal{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -180px 0px;width:30px;padding-top:32px;}
.nauru{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -210px 0px;width:30px;padding-top:32px;}
.namibia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -240px 0px;width:30px;padding-top:32px;}
.new_zealand{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -270px 0px;width:30px;padding-top:32px;}
.new_caledonia_method{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -300px 0px;width:30px;padding-top:32px;}
.netherlands_antilles{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -330px 0px;width:30px;padding-top:32px;}
.c_netherlands_antilles{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -330px 0px;width:30px;}
.poland{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -360px 0px;width:30px;padding-top:32px;}
.pitcairn_island_english{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -390px 0px;width:30px;padding-top:32px;}
.peru{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -420px 0px;width:30px;padding-top:32px;}
.qatar{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -450px 0px;width:30px;padding-top:32px;}
.puerto_rico_USA{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -480px 0px;width:30px;padding-top:32px;}
.portugal{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -510px 0px;width:30px;padding-top:32px;}
.palau{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -540px 0px;width:30px;padding-top:32px;}
.pakistan{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -570px 0px;width:30px;padding-top:32px;}
.oman{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -600px 0px;width:30px;padding-top:32px;}
.paraguay{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -630px 0px;width:30px;padding-top:32px;}
.papua_new_guinea{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -660px 0px;width:30px;padding-top:32px;}
.panama{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -690px 0px;width:30px;padding-top:32px;}
.myanma{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -720px 0px;width:30px;padding-top:32px;}
.madagascar{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -750px 0px;width:30px;padding-top:32px;}
.macedonia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -780px 0px;width:30px;padding-top:32px;}
.luxembourg{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -810px 0px;width:30px;padding-top:32px;}
.malaysia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -840px 0px;width:30px;padding-top:32px;}
.malawi{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -870px 0px;width:30px;padding-top:32px;}
.madeira_pt{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -900px 0px;width:30px;padding-top:32px;}
.liberia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -930px 0px;width:30px;padding-top:32px;}
.lesotho{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -960px 0px;width:30px;padding-top:32px;}
.lebanon{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -990px 0px;width:30px;padding-top:32px;}
.lithuania{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1020px 0px;width:30px;padding-top:32px;}
.liechtenstein{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1050px 0px;width:30px;padding-top:32px;}
.libya{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1080px 0px;width:30px;padding-top:32px;}
.mongolia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1110px 0px;width:30px;padding-top:32px;}
.monaco{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1140px 0px;width:30px;padding-top:32px;}
.moldova{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1170px 0px;width:30px;padding-top:32px;}
.mozambique{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1200px 0px;width:30px;padding-top:32px;}
.morocco{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1230px 0px;width:30px;padding-top:32px;}
.montserrat_english{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1260px 0px;width:30px;padding-top:32px;}
.martinique_method{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1290px 0px;width:30px;padding-top:32px;}
.malta{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1320px 0px;width:30px;padding-top:32px;}
.mali{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1350px 0px;width:30px;padding-top:32px;}
.micronesia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1380px 0px;width:30px;padding-top:32px;}
.mauritius{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1410px 0px;width:30px;padding-top:32px;}
.mauritania{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1440px 0px;width:30px;padding-top:32px;}
.reunion_method{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1470px 0px;width:30px;padding-top:32px;}
.turkey{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1500px 0px;width:30px;padding-top:32px;}
.tunisia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1530px 0px;width:30px;padding-top:32px;}
.trinidad_and_tobago{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1560px 0px;width:30px;padding-top:32px;}
.tuvalu{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1590px 0px;width:30px;padding-top:32px;}
.turks_and_caicos_islands_UK{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1620px 0px;width:30px;padding-top:32px;}
.turkmenistan{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1650px 0px;width:30px;padding-top:32px;}
.thailand{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1680px 0px;width:30px;padding-top:32px;}
.tajikistan{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1710px 0px;width:30px;padding-top:32px;}
.taiwan{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1740px 0px;width:30px;padding-top:32px;}
.tonga{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1770px 0px;width:30px;padding-top:32px;}
.tokelau_new{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1800px 0px;width:30px;padding-top:32px;}
.the_african_union{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1830px 0px;width:30px;padding-top:32px;}
.vietnam{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1860px 0px;width:30px;padding-top:32px;}
.venezuela{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1890px 0px;width:30px;padding-top:32px;}
.vanuatu{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1920px 0px;width:30px;padding-top:32px;}
.zimbabwe{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1950px 0px;width:30px;padding-top:32px;}
.yemen{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -1980px 0px;width:30px;padding-top:32px;}
.wallis_and_rich_figure_na_method{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2010px 0px;width:30px;padding-top:32px;}
.ukraine{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2040px 0px;width:30px;padding-top:32px;}
.uk{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2070px 0px;width:30px;padding-top:32px;}
.uganda{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2100px 0px;width:30px;padding-top:32px;}
.uzbekistan{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2130px 0px;width:30px;padding-top:32px;}
.usa{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2160px 0px;width:30px;padding-top:32px;}
.uruguay{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2190px 0px;width:30px;padding-top:32px;}
.switzerland{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2220px 0px;width:30px;padding-top:32px;}
.senegal{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2250px 0px;width:30px;padding-top:32px;}
.saudi_arabia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2280px 0px;width:30px;padding-top:32px;}
.sao_tom_and_principe{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2310px 0px;width:30px;padding-top:32px;}
.singapore{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2340px 0px;width:30px;padding-top:32px;}
.sierra_leone{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2370px 0px;width:30px;padding-top:32px;}
.serbia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2400px 0px;width:30px;padding-top:32px;}
.rwanda{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2430px 0px;width:30px;padding-top:32px;}
.russia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2460px 0px;width:30px;padding-top:32px;}
.romania{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2490px 0px;width:30px;padding-top:32px;}
.san_marino{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2520px 0px;width:30px;padding-top:32px;}
.samoa{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2550px 0px;width:30px;padding-top:32px;}
.saint_vincent_and_the_grenadines{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2580px 0px;width:30px;padding-top:32px;}
.sudan{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2610px 0px;width:30px;padding-top:32px;}
.st_lucia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2640px 0px;width:30px;padding-top:32px;}
.st_kitts_and_nevis{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2670px 0px;width:30px;padding-top:32px;}
.sweden{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2700px 0px;width:30px;padding-top:32px;}
.swaziland{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2730px 0px;width:30px;padding-top:32px;}
.suriname{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2760px 0px;width:30px;padding-top:32px;}
.south_africa{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2790px 0px;width:30px;padding-top:32px;}
.somalia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2820px 0px;width:30px;padding-top:32px;}
.slovenia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2850px 0px;width:30px;padding-top:32px;}
.st_helena_English{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2880px 0px;width:30px;padding-top:32px;}
.sri_lanka{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2910px 0px;width:30px;padding-top:32px;}
.spain{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2940px 0px;width:30px;padding-top:32px;}
.chad{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -2970px 0px;width:30px;padding-top:32px;}
.cape_verde{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3000px 0px;width:30px;padding-top:32px;}
.canada{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3030px 0px;width:30px;padding-top:32px;}
.colombia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3060px 0px;width:30px;padding-top:32px;}
.china{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3090px 0px;width:30px;padding-top:32px;}
.chile{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3120px 0px;width:30px;padding-top:32px;}
.bulgaria{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3150px 0px;width:30px;padding-top:32px;}
.brunei{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3180px 0px;width:30px;padding-top:32px;}
.brazil{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3210px 0px;width:30px;padding-top:32px;}
.cameroon{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3240px 0px;width:30px;padding-top:32px;}
.burundi{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3270px 0px;width:30px;padding-top:32px;}
.burkina_faso{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3300px 0px;width:30px;padding-top:32px;}
.east_timor{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3330px 0px;width:30px;padding-top:32px;}
.dominic{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3360px 0px;width:30px;padding-top:32px;}
.doller{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3390px 0px;width:30px;padding-top:32px;}
.el_salvador{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3420px 0px;width:30px;padding-top:32px;}
.egypt{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3450px 0px;width:30px;padding-top:32px;}
.ecuador{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3480px 0px;width:30px;padding-top:32px;}
.cuba{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3510px 0px;width:30px;padding-top:32px;}
.croatia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3540px 0px;width:30px;padding-top:32px;}
.costa_rica{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3570px 0px;width:30px;padding-top:32px;}
.djibouti{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3600px 0px;width:30px;padding-top:32px;}
.default{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3630px 0px;width:30px;padding-top:32px;}
.cyprus{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3660px 0px;width:30px;padding-top:32px;}
.botswana{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3690px 0px;width:30px;padding-top:32px;}
.armenia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3720px 0px;width:30px;padding-top:32px;}
.argentina{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3750px 0px;width:30px;padding-top:32px;}
.antigua_and_barbuda{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3780px 0px;width:30px;padding-top:32px;}
.austria{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3810px 0px;width:30px;padding-top:32px;}
.australia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3840px 0px;width:30px;padding-top:32px;}
.aruba_the_netherlands{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3870px 0px;width:30px;padding-top:32px;}
.algeria{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3900px 0px;width:30px;padding-top:32px;}
.albania{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3930px 0px;width:30px;padding-top:32px;}
.afghanistan{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3960px 0px;width:30px;padding-top:32px;}
.angola{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3990px 0px;width:30px;padding-top:32px;}
.andorra{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4020px 0px;width:30px;padding-top:32px;}
.american_samoa{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4050px 0px;width:30px;padding-top:32px;}
.benin{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4080px 0px;width:30px;padding-top:32px;}
.belize{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4110px 0px;width:30px;padding-top:32px;}
.belgium{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4140px 0px;width:30px;padding-top:32px;}
.bolivia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4170px 0px;width:30px;padding-top:32px;}
.bhutan{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4200px 0px;width:30px;padding-top:32px;}
.bermuda_english{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4230px 0px;width:30px;padding-top:32px;}
.bahrain{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4260px 0px;width:30px;padding-top:32px;}
.azerbaijan{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4290px 0px;width:30px;padding-top:32px;}
.away_english{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4320px 0px;width:30px;padding-top:32px;}
.belarus{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4350px 0px;width:30px;padding-top:32px;}
.barbados{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4380px 0px;width:30px;padding-top:32px;}
.bangladesh{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4410px 0px;width:30px;padding-top:32px;}
.elder_brother_d_that_bosnia_and_ink{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4440px 0px;width:30px;padding-top:32px;}
.iran{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4470px 0px;width:30px;padding-top:32px;}
.indonesia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4500px 0px;width:30px;padding-top:32px;}
.indea{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4530px 0px;width:30px;padding-top:32px;}
.israel{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4560px 0px;width:30px;padding-top:32px;}
.irish{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4590px 0px;width:30px;padding-top:32px;}
.iraq{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4620px 0px;width:30px;padding-top:32px;}
.in_hungary{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4650px 0px;width:30px;padding-top:32px;}
.in_haiti{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4680px 0px;width:30px;padding-top:32px;}
.in_cambodia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4710px 0px;width:30px;padding-top:32px;}
.in_zambia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4740px 0px;width:30px;padding-top:32px;}
.in_the_netherlands{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4770px 0px;width:30px;padding-top:32px;}
.in_tanzania{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4800px 0px;width:30px;padding-top:32px;}
.kuwait{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4830px 0px;width:30px;padding-top:32px;}
.korea_south{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4860px 0px;width:30px;padding-top:32px;}
.kiribati{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4890px 0px;width:30px;padding-top:32px;}
.latvia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4920px 0px;width:30px;padding-top:32px;}
.laos{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4950px 0px;width:30px;padding-top:32px;}
.kyrgyzstan{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -4980px 0px;width:30px;padding-top:32px;}
.japan{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5010px 0px;width:30px;padding-top:32px;}
.Jamaica{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5040px 0px;width:30px;padding-top:32px;}
.italy{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5070px 0px;width:30px;padding-top:32px;}
.kenya{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5100px 0px;width:30px;padding-top:32px;}
.kazakhstan{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5130px 0px;width:30px;padding-top:32px;}
.jordan{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5160px 0px;width:30px;padding-top:32px;}
.hong_kong{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5190px 0px;width:30px;padding-top:32px;}
.french_guiana{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5220px 0px;width:30px;padding-top:32px;}
.finland{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5250px 0px;width:30px;padding-top:32px;}
.fiji_islands{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5280px 0px;width:30px;padding-top:32px;}
.georgia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5310px 0px;width:30px;padding-top:32px;}
.gabon{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5340px 0px;width:30px;padding-top:32px;}
.french_polynesia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5370px 0px;width:30px;padding-top:32px;}
.estonia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5400px 0px;width:30px;padding-top:32px;}
.eritrea{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5430px 0px;width:30px;padding-top:32px;}
.equatorial_guinea{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5460px 0px;width:30px;padding-top:32px;}
.faance{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5490px 0px;width:30px;padding-top:32px;}
.european_union{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5520px 0px;width:30px;padding-top:32px;}
.ethiopia{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5550px 0px;width:30px;padding-top:32px;}
.guinea{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5580px 0px;width:30px;padding-top:32px;}
.guatemala{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5610px 0px;width:30px;padding-top:32px;}
.guam_beauty{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5640px 0px;width:30px;padding-top:32px;}
.honduras{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5670px 0px;width:30px;padding-top:32px;}
.guyana{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5700px 0px;width:30px;padding-top:32px;}
.guinea_bissau{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5730px 0px;width:30px;padding-top:32px;}
.greece{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5760px 0px;width:30px;padding-top:32px;}
.ghana{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5790px 0px;width:30px;padding-top:32px;}
.germany{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5820px 0px;width:30px;padding-top:32px;}
.guadeloupe_method{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5850px 0px;width:30px;padding-top:32px;}
.grenada{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5880px 0px;width:30px;padding-top:32px;}
.greenland_Dan{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -5910px 0px;width:30px;padding-top:32px;}

.c_peru{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -420px 0px;width:30px;}
.c_egypt{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3450px 0px;width:30px;}
.c_luxembourg{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -810px 0px;width:30px;}
.c_argentina{background:url(http://rl.fx678.com/Public/images/allbgs.png) no-repeat -3750px 0px;width:30px;}
.c_saudi_arabia{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat 0px 0px;width:30px;}
.c_russia{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -30px 0px;width:30px;}
.c_portugal{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -60px 0px;width:30px;}
.c_south_africa{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -90px 0px;width:30px;}
.c_slovak{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -120px 0px;width:30px;}
.c_singapore{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -150px 0px;width:30px;}
.c_mexicanos{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -180px 0px;width:30px;}
.c_libya{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -210px 0px;width:30px;}
.c_kuwait{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -240px 0px;width:30px;}
.c_oecd{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -270px 0px;width:30px;}
.Norwegian{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -300px 0px;width:30px;}
.c_new_zealand{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -330px 0px;width:30px;}
.c_ukraine{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -360px 0px;width:30px;}
.c_uk{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -390px 0px;width:30px;}
.c_turkey{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -420px 0px;width:30px;}
.c_vietnam{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -450px 0px;width:30px;}
.c_venezuela{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -480px 0px;width:30px;}
.c_usa{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -510px 0px;width:30px;}
.c_switzerland{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -540px 0px;width:30px;}
.c_sweden{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -570px 0px;width:30px;}
.c_spain{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -600px 0px;width:30px;}
.c_thailand{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -630px 0px;width:30px;}
.c_taiwan{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -660px 0px;width:30px;}
.c_syrian{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -690px 0px;width:30px;}
.c_korea_south{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -720px 0px;width:30px;}
.c_danmark{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -750px 0px;width:30px;}
.c_china{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -780px 0px;width:30px;}
.c_chile{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -810px 0px;width:30px;}
.c_france{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -840px 0px;width:30px;}
.c_european_union{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -870px 0px;width:30px;}
.c_doller{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -900px 0px;width:30px;}
.c_austria{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -930px 0px;width:30px;}
.c_australia{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -960px 0px;width:30px;}
.c_angola{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -990px 0px;width:30px;}
.c_canada{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -1020px 0px;width:30px;}
.c_brazil{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -1050px 0px;width:30px;}
.c_belgium{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -1080px 0px;width:30px;}
.c_irish{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -1110px 0px;width:30px;}
.c_iraq{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -1140px 0px;width:30px;}
.c_iran{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -1170px 0px;width:30px;}
.c_japan{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -1200px 0px;width:30px;}
.c_italy{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -1230px 0px;width:30px;}
.c_israel{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -1260px 0px;width:30px;}
.c_hong_kong{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -1290px 0px;width:30px;}
.c_greece{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -1320px 0px;width:30px;}
.c_germany{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -1350px 0px;width:30px;}
.c_indonesia{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -1380px 0px;width:30px;}
.c_indea{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -1410px 0px;width:30px;}
.c_iceland{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -1440px 0px;width:30px;}
.c_Norwegian{background:url(http://rl.fx678.com/Public/images/allbg.png) no-repeat 0px -1620px;height:30px;}
.c_iceland{background:url(http://rl.fx678.com/Public/images/allbg.png) no-repeat 0px -6030px;height:30px;}
.c_qatar{background:url(http://rl.fx678.com/Public/images/allbg.png) no-repeat 0px -390px;height:30px;}
.c_north_korea{background:url(http://rl.fx678.com/Public/images/allbg.png) no-repeat 0px -1650px;height:30px;}
.c_irish{background:url(http://rl.fx678.com/Public/images/allbg.png) no-repeat 0px -6600px;height:30px;}
.c_in_the_netherlands{background:url(http://rl.fx678.com/Public/images/allbg.png) no-repeat 0px -6540px;height:30px;}
.c_ecuador{background:url(http://rl.fx678.com/Public/images/allbg.png) no-repeat 0px -4170px;height:30px;}
.c_the_czech_republic{background:url(http://rl.fx678.com/Public/images/allbg.png) no-repeat 0px -3270px;height:30px;}
.c_the_philippines{background:url(http://rl.fx678.com/Public/images/allbg.png) no-repeat 0px -3150px;height:30px;}
.c_null_flags{background:url(http://rl.fx678.com/Public/images/allbg.png) no-repeat 0px -3600px;height:30px;}
.c_european_union{background:url(http://rl.fx678.com/Public/images/allbg.png) no-repeat 0px -4050px;height:30px;}
.c_franc{background:url(http://rl.fx678.com/Public/images/allbgss.png) no-repeat -1470px 0px;width:30px;}


/*日历修改*/
.cjsj_tab2{ width:952px; height:auto; border:1px solid #C1D6F7; margin:0 auto; font-size:14px;color:#333333;}
.cjsj_tab2 tr th{ height:40px; border-bottom:1px solid #C1D6F7;  border-right: 1px solid #c1d6f7;border-top:1px solid #C1D6F7; background:#d2e3ff; text-align:center; }

.cjsj_tab2 tr td{ padding:4px 0; border-bottom:1px solid #C1D6F7;  border-top:1px solid #C1D6F7; background:#fff; text-align:center;}
.cjsj_tab2 tr td.tab_font{ padding:4px 25px; text-align:left;}

.cjsj_tab2 tr td .flag_bb{ width:100px; line-height:30px; vertical-align:middle; text-align:left; display:inline; +display:block; font-size:14px; font-weight:bold;color:#333333;}
.cjsj_tab2 tr td .flag_bb .circle_flag{  height:30px; line-height:30px; vertical-align:middle; display:block; margin-right:10px; +float:left;float:left; text-align:center; margin-left:23px; }
.cjsj_tab2 tr td .flag_bb span{ float:left;}
.cjsj_tab2 tr td.tab_time{color:#333333;}
.cjsj_tab2 tr.s_blue td{ background:#d2e3ff;font-size:14px; font-weight:bold;color:#333333;}

/*周历css*/
.zb_top{ height:72px; width:950px; margin:30px 25px 15px 25px; float:left;}
.zb_top .zl_logo{ background:url(http://rl.fx678.com/Public/images/cjzl_logo.png) no-repeat; width:168px; height:61px; float:left; margin-top:7px;}
.zb_top .zb_ads{  width:950px; height:72px; float:left; margin-top:0px; }
.zb_top .zb_ads3{  width:465px; height:72px; float:left; margin-top:0px; }
.zb_top .zb_ads4{  width:465px; height:72px; margin-top:0px; float:right;}
/* .dpwn_line{border-bottom:1px dotted #b2b2b2; width:950px; margin:5px 25px 0 25px; clear:both; float:left;} */
.dpwn_line{ width:950px; margin:5px 25px 0 25px; clear:both; float:left;}
.cl_top2{ height:72px; width:802px; margin:20px auto 25px; clear:both;}

.clock_logo{  font-size:16px; color:#2d3134; height:30px; line-height:30px; vertical-align:middle; font-weight:bolder; width:940px; margin:15px auto 10px;}
.clock_logo img{ float:left; margin:6px 10px 0 5px;}
.clock_logo span{ color:#d02306;font-size:16px;font-weight:normal; margin-left:10px;}
.cjsj_tab .bg_blue th{ padding:8px 0; font-weight:bold; font-size:16px; text-align:center; background:#d2e3ff; height:auto;}
.cjsj_tab .bg_blue td{ padding:5px 0; font-weight:bold; font-size:16px; text-align:center; background:#d2e3ff;}
.sq_logo2{  font-size:16px; color:#2d3134; height:30px; line-height:30px; vertical-align:middle; font-weight:bolder; width:940px; margin:30px auto 10px;}
.sq_logo2 img{ float:left; margin:6px 10px 0 5px;}
.sq_logo2 span a{ background:url(http://rl.fx678.com/Public/images/calendar_res.png) no-repeat 5px; color:#9b9b9b;font-size:12px; padding-left:20px; font-weight:normal; margin-left:10px;}

/*美国数据css*/
.zb_top .usa_logo{ background:url(http://rl.fx678.com/Public/images/usa_logo.png) no-repeat; width:168px; height:61px; float:left; margin-top:7px;}
.clock_logo2{  font-size:16px; color:#2d3134; height:30px; line-height:30px; vertical-align:middle; font-weight:bolder; width:940px; margin:15px auto 10px;}
.clock_logo2 img{ float:left; margin:4px 10px 0 5px;}
.clock_logo2 span{ color:#575757;font-size:12px;font-weight:normal; margin-left:10px;}

.cjsj_tab3{ width:952px; height:auto; border:1px solid #d2e3ff; margin:0 auto; font-size:14px;color:#333333;}
.cjsj_tab3 tr th{ height:36px; border-right:1px solid #C1D6F7;border-bottom:1px solid #C1D6F7; background:#d2e3ff; color:#222; font-weight:bolder;}
.cjsj_tab3 tr td{ padding:5px 0; border-right:1px solid #C1D6F7;border-bottom:1px solid #C1D6F7; text-align:center;}
.cjsj_tab3 tr td.tab_font{ padding:8px 25px; text-align:left;}

.calendar_content table{ }
/*.calendar_content table tr:nth-child(2n){ background: #f8f8f8;} 
.calendar_content table tr{ background-color: expression((this.sectionRowIndex % 2 == 0) ?   "#fff" : "#f8f8f8" );} */

table.cjsj_tab3 tr.alt td {background:#f7f9fb;} 
table.cjsj_tab3 tr.over td {background:#fff0f0; cursor:auto;} 

table.cjsj_tab tr.over td.tab_time {background:#fff; } 
table.cjsj_tab tr.over td {background:#eaf2ff; cursor:auto;} 

table.cjsj_tab tr td.red_color{ color:#F00;}
table.cjsj_tab tr td.green_color{ color:#090;}

table.cjsj_tab3 tr td.gb_td{ font-weight:bold; background:#ecf3f8;}
table.cjsj_tab3 tr.alt td.gb_td{ font-weight:bold; background:#edf2f5;}


